<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      h2{page-break-inside: avoid;}
      table, th, td  {
        border: 1px solid red;
        border-collapse: collapse;
      }
      table {
        width: 100%;
      }
      td {
        padding: 15px 5px;
        background-color: blueviolet;
      }
    </style>
  </head>
  <body>
    <h2>Home Page</h2>
    <button onclick="downloadHandler()">Download Page</button>
    <table>
      <thead>
        <tr>
          <th>id</th>
        <th>name</th>
        <th>content</th>
        </tr>
      </thead>
      <tbody>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
       <tr>
        <td>id</th>
          <td>name</th>
          <td>content</th>
       </tr>
      </tbody>
    </table>

    <script>
      const downloadHandler = async () => {
        console.log("downloadHandler");

        try {
          let res = await fetch("http://localhost:5000/read-file", {
            method: "post",
            responseType: "blob",
            body: "",
            headers: {
              "Content-Type": "application/pdf",
            },
          });

          console.log("res ::", res);
        } catch (err) {
          console.log("error ::", err);
        }
      };
    </script>
  </body>
</html>
