<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Home Page</h2>
    <button onclick="downloadHandler()">Download Page</button>

    <script>
      const downloadHandler = async () => {
        console.log("downloadHandler");

        try {
          let res = await fetch("http://localhost:5000/read-file", {
            method: "GET",
            responseType: "",
          });

          console.log("res ::", res);
        } catch (err) {
          console.log("error ::", err);
        }
      };
    </script>
  </body>
</html>
